<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登出</title>
		<link rel="shortcut icon" href="/images/favicon.ico"/>
	</head>
	<body>
	    <p>感谢你的到访！</p>
	    <p>正在为您登出...</p>
	    <script>
	        setTimeout(function(){
	            window.location.href="/"
	        }, 1000)
	    </script>
	</body>
</html>
